
/* .btn {
    display: block;
    margin: 0 auto;
}

.our-team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.our-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
} */




* {
    box-sizing: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding-left: 0;
}
ul {
    margin: 0;
}
img {
    display: block;
}

:root {
    --main-background-color: #ffffff;
    --second-background-color: #F4F4FD;
    --third-background-color: #2e2f42;
    --main-title-color: #404bbf;
    --second-title-color: #2e2f42;
    --third-title-color: #4d5ae5;
    --main-color: #434455;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-color, #434455);
    background-color: var(--main-background-color, white)
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.list-style {
    list-style: none;
}
.text-decoration {
    text-decoration: none;
}

/* ---------------HEADER-------------- */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-title-color);
    text-decoration: none;
    margin-right: 76px;
}

.header-logo-studio {
    color: var(--second-title-color);
}

.header-list {
    display: flex;
}

.header-item {}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.header-item-menu {
    margin-right: 40px;
}
.header-item-menu:hover {
    color: var(--main-title-color);
}
.header-item-menu:focus {
    color: var(--main-title-color);
}

/* .header-studio {
    color: var(--second-title-color);
} */

.address-header {
    font-style: normal;
}

.header-address {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

/* ---------------SECTION 1-------------- */
.section-effective {
    background-color: var(--third-background-color);
    padding-top: 188px;
    padding-bottom: 188px;
}


.section-effective-contents {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    background: var(--third-background-color);
    color: var(--main-background-color);
    margin-bottom: 48px;
}

/* .section-class-list {
    background-color: var(--main-background-color);
} */

.section-effective-btn {
    padding: 16px 32px;
    gap: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background: var(--third-title-color);
    color: var(--main-background-color);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.section-effective-btn:hover {
    background-color: var(--main-title-color);
}
.section-effective-btn:focus {
    background-color: var(--main-title-color);
}

/* ---------------SECTION 2-------------- */
.approach {
    color: var(--second-title-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.approach-first-contents {}

.about-list {
    display: flex;
    gap: 24px;
}

.approach-list {}

.approach-item {}

.approach-second-contents {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
}

.approach-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

/* ---------------SECTION 3-------------- */
.section-our-team {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--second-title-color);
    padding-bottom: 72px;
}

/* ---------------SECTION 4-------------- */
.section-team {
    background-color: var(--second-background-color);
    padding-top: 120px;
    padding-bottom: 120px;
    margin-top: 120px;
}

.section-class-list {
    background-color: var(--main-background-color);
}

.list-photo {}

.section-photo {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    padding-top: 32px;
    padding-bottom: 8px;
}

.list-photo-paragraph {
    padding-bottom: 32px;
}

/* ---------------FOOTER-------------- */
.footer {
    background-color: var(--third-background-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-title-color);
}

.footer-logo-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-background-color);
}

.footer-increase {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-background-color);
    background: var(--third-background-color);
}

/* ---------------PORTFOLIO 'BUTTON'-------------- */
.portfolio {}

.container-portfolio {
}

.hidden-title {}

.portfolio-list-btn {
    margin-top: 96px;
    margin-bottom: 72px;
    justify-content: center;
}

.portfolio-item-btn {}

.portfolio-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--third-title-color);
    background: var(--second-background-color);
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    justify-content: center;
}
.portfolio-button:hover {
    color: var(--main-background-color);
    background-color: var(--main-title-color);
}
.portfolio-button:focus {
    color: var(--main-background-color);
    background-color: var(--main-title-color);
}

/* ---------------PORTFOLIO 'LIST'-------------- */
.top-line {
    border-bottom: 1px solid #E7E9FC;
}

.gallery-list {
    /* display: flex; */
    flex-wrap: wrap;
    gap: 48px 24px;
    width: calc((100% - 60px) / 3);
}

.container-gallery-list {
    width: 1128px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}


.gallery-list li {
flex-basis: calc((100% - 60px) / 3);
}

.section-list-photo {
    margin-bottom: 120px;
}

.section-team {
    background-color: var(--second-background-color);
}

.section-photo {}

.list-photo-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
}
